body {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #F7DEBE 10%, #E8C8E6 90%);
  background: -moz-linear-gradient(45deg, #F7DEBE 10%, #E8C8E6 90%);
  background: -ms-linear-gradient(45deg, #F7DEBE 10%, #E8C8E6 90%);
  background: -o-linear-gradient(45deg, #F7DEBE 10%, #E8C8E6 90%);
  background: linear-gradient(45deg, #F7DEBE 10%, #E8C8E6 90%);
}
body img {
  margin: 20px;
  border-style: inset;
  border-width: 10px;
  border-color: #230E9C;
}
h1 {
  font-size: 300%;
  font-family: Algerian;
  font-weight: 800;
  color: #000091;
  text-align: left;
  text-decoration: overline;
  text-decoration-color: #871481;
}
h2 {
  font-family: cursive;
  font-size: 16pt;
}
h3 {
  font-size: 150%;
  font-family: sans-serif;
  font-weight: 500;
  color: #1D1838;
}
header img {
  padding: 5px;
  border-width: 6px;
  border-color: #0E9DAD;
  border-style: ridge;
  margin: 20px;
}
button {
  margin: 10px;
  text-align: center;
  text-shadow: #EBA68F;
  font-family: Calibri;
  font-weight: bolder;
}
button:hover {
  background-color: #8FD4EB;
}
header select {
  margin: 20px;
  background-color: #E08D70;
  font-family: fantasy;
}
select:hover {
  color: #450759;
  font-family: fantasy;
}
body article {
  padding: 10px;
  border-width: medium;
  border-style: solid;
  border-color: #230E9C;
}
a {
  font-size: 14pt;
  font-weight: 200;
  font-family: Calibri;
}
a:hover {
  background-color: #8FD4EB;
  color: #6E1231;
}
